@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

/* Preline UI */
@import "../../node_modules/preline/variants.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-family: 'Victor Mono', monospace;
    --font-mono: 'Victor Mono', monospace;
    --font-sans: 'Victor Mono', monospace;
}

/* Apply Victor Mono globally as default font */
* {
    font-family: 'Victor Mono', monospace !important;
}

body {
    font-family: 'Victor Mono', monospace;
}

@plugin "@tailwindcss/typography";
